DB_PASSWORD=your_db_password
NEWS_BOT_TOKEN=your_news_bot_token
NEWS_BOT_USERNAME=your_news_bot_username
NEWS_CHANNEL_ID=your_news_channel_id
JOBS_BOT_TOKEN=your_jobs_bot_token
JOBS_BOT_USERNAME=your_jobs_bot_username
JOBS_CHANNEL_ID=your_jobs_channel_id